<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
android:layout_marginRight="5dp"
    android:layout_height="match_parent">
    <RelativeLayout
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:orientation="vertical">
        <Button
            android:id="@+id/btnUpdate"
            android:text="Update"
            android:layout_marginTop="40dp"
            android:textColor="#000000"
            android:textSize="11sp"
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:drawableLeft="@drawable/disk_blue_ok"
            android:gravity="center_vertical" />
        <Button
            android:id="@+id/btnCancel"
            android:text="Cancel"
            android:layout_marginTop="95dp"
            android:textColor="#000000"
            android:textSize="11sp"
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:drawableLeft="@drawable/delete2"
            android:gravity="center_vertical" />
    </RelativeLayout>
</LinearLayout>